<!-- Categories Section Begin -->
{% load static %}
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">

                {% for cat in categories %}
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{{cat.image.url}}">
                        <h5><a href="#">{{cat.name}}</a></h5>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->